html {
    background-color: brown;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
}
h2 {
    margin-left: 70px;
    color:darkblue;
    font-size: 30px;